[hyoo_slides] {
	-webkit-print-color-adjust: exact;
	font-size: 3vmin;
}

[hyoo_slides_loader] {
	border: none;
}

[hyoo_slides_role="listener"] [hyoo_slides_page_listener]:before {
	display: none;
}

[hyoo_slides_speech_toggle] {
	align-items: center;
}

[hyoo_slides_speech_text] {
	line-height: 1;
	display: flex;
	align-items: flex-end;
	align-self: center;
	flex: 1 1 auto;
	max-height: 2rem;
}
